:root {

    --clr-text-dark: hsl(238, 29%, 16%);
    --clr-text-red: hsl(14, 88%, 65%);
    --clr-divider: hsl(240, 5%, 91%);
    --ff-kumbh: 'Kumbh Sans', sans-serif;
}


/* "*" helps the code to be vieweble on all broswers */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: hsl(238, 29%, 16%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

main {
    position: relative;
    background: url(images/bg-pattern-mobile.svg) no-repeat top center;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 10px 40px -15px hsl(238, 29%, 16%);
}

.title {
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
}



/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero-images {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 7rem;
}

.hero {
    position: absolute;
    top: -7rem;
    width: min(80%, 255px);
}

.box {
    display: none;
}

.dropBtn:hover {
    color: hsl(14, 88%, 65%);
}










@media (min-width: 900px) {
    main {
        width: 870px;
        display: grid;
        grid-template-columns: 50% 50%;
        background-image: unset;
        background-color: white;
        padding: 0;
    }

    .hero-images {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        background-image: url(images/illustration-woman-online-desktop.svg),
            url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 90%, 120%;
        background-position: -4.8rem 5rem, -12rem -2rem;
        margin: unset;
    }

    .box {
        width: 150px;
        position: absolute;
        display: unset;
        top: 12rem;
        left: -5.5rem;
        z-index: 1;
    }

    .hero {
        display: none;
    }

}